.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 68px;
  grid-template-columns: repeat(4, auto);
}

