.footer-nav__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(7, auto);

  @media(min-width: 1199px) {
    grid-column-gap: 55px;
  }
}

.footer-nav__item:not(:last-child) {
  margin-right: 10px;
}
