.footer-nav {
  display: flex;
  align-items: center;
}

.footer-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item:not(:last-child) {
  margin-right: 66px;
}
