.main-features__list {
  display: flex;
  margin-bottom: 37px;
  padding-left: 10px;
}

.main-features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba(72, 73, 77, 0.5);
  font-style: normal;

  &:not(:last-child) {
    margin-right: 14px;
  }
}

.main-features__item--fuel-type::before {
  content: '';

  width: 24px;
  height: 22px;
  margin-bottom: 9px;

  background: url(../../assets/img/fuel.svg) no-repeat;
  opacity: 0.5;
}

.main-features__item--transmission-type::before {
  content: '';

  width: 26px;
  height: 24px;
  margin-bottom: 9px;

  background: url(../../assets/img/transmission.svg) no-repeat;
  opacity: 0.5;
}

.main-features__item--engine-power::before {
  content: '';

  width: 32px;
  height: 21px;
  margin-bottom: 9px;

  background: url(../../assets/img/engine-power.svg) no-repeat;
  opacity: 0.5;
}

.main-features__item--engine-volume::before {
  content: '';

  width: 32px;
  height: 23px;
  margin-bottom: 9px;

  background: url(../../assets/img/engine-volume.svg) no-repeat;
  opacity: 0.5;
}
