.main-features__list {
  display: flex;
}

.main-features__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.main-features__item--fuel::before {
  content: '';

  width: 24px;
  height: 22px;
  margin-bottom: 8px;

  background: url(../../assets/img/fuel.svg) no-repeat;
  opacity: 0.5;
}
