.slider {
  padding-top: 15px;
  padding-left: 7px;
}

.slider__active-slide-container {
  position: relative;

  width: 600px;
  height: 375px;
  margin-bottom: 39px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 122px;
    height: 30px;

    background: url(../../assets/img/label.png);
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  width: 128px;
  height: 80px;
}

.slider__item:not(:last-child) {
  margin-right: 25px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
